#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
SLbin
ClientBin
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.gpstate
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
.#*
*.tmp
*.TMP
*.Load
*.NoLoad
*.dbmdl
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
lint.db
*.docstates
.apdisk
[Ll]ogs


#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# Vim Temp Files
*~
*.swp
*.patch


Modules/AgencyCommission/Reservations.sln.lnk
Modules/MainReservations/QuickScreens.sln.lnk
